/* Classes are also used in rootDir/woocommerce/loop/no-products-found.php */
.container {

    .msg-container {
        display: flex;
        justify-content: center;
        margin: 5rem 0;

        .msg {
            font-weight: lighter;
            font-size: 1.5rem;
            border-top: 3px solid #007a9e;
            padding: 12px 12px;
            background-color: #eaeaea;
            border-bottom-right-radius: 4px;
            border-bottom-left-radius: 4px; // Ultra light grey

            span {
                font-size: 2.1rem;
                font-weight: 300;
                color: $secondary-color;
            }
        }
    }
}