footer {
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 0 40px;
    background-color: $primary-color;

    .about-social-container {
      display: flex;
      justify-content: center;
      align-items: center;
      
      .menu {
        a {
          padding: 0 .5rem;
          color: #fff;
        }
      }

      .fa-instagram {
        color: #fff;
        padding-right: .5rem;
      }

      .fa-facebook {
        color: #fff;
      }
    }


    .impressum-kontakt-container {
      .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;

        li {
          padding-right: .5rem;
          list-style-type: none;
          
          &:after {
            content: '|';
            padding-left: .5rem;
            color: #fff;
          }

         &:last-of-type:after {
           content: '';
         }

         a {
           color: #fff;
         }
        }
      }
    }
  }
}