header {
    .container-hero {
      position: relative;
      height: 40px;
      width: 100%;
      background-color: $primary-color;

      .container-hero-navigation {
          padding: 20px 40px;
      }

      .container-hero-navigation-else {
          background-color: $primary-color;
          padding: 12px 40px;
      }

      .container-hero-navigation,
      .container-hero-navigation-else {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
  
        display: flex;
        justify-content: space-between;
        z-index: 100;
  
        .logo {
          color: #fff;
        }
  
  
        .hero-navigation {
          display: flex;
          justify-content: space-between;
  
          .search {
            padding-right: 3rem;
          }
  
          .top-menu {
            display: flex;
            justify-content: space-between;

            #menu-kopf-menue {
                display: flex;

                li {
                    margin-right: 1.5rem;
                    list-style-type: none;
                }
            }
          }
        }
      }
    }

    .container-hero-is-shop {
      position: relative;
      height: 800px;
      width: 100%;
  
      img {
          height: 800px;
          width: 100%; 
      }
    
      .container-hero-navigation {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
  
        display: flex;
        justify-content: space-between;
        padding: 20px 40px;
  
        .logo {
          color: #fff;
        }
  
        .hero-navigation {
          display: flex;
          justify-content: space-between;
  
          .search {
            padding-right: 3rem;
          }
  
          .top-menu {
            display: flex;
            justify-content: space-between;

            #menu-kopf-menue {
                display: flex;

                li {
                    margin-right: 1.5rem;
                    list-style-type: none;
                }
            }
          }
        }
      }
    }
    
  .category-container {
    width: 100%;
    height: 50px;
    background-color: $primary-color;
    display: flex;
    justify-content: start;
    align-items: center;

    margin-bottom: 3rem;

    .navigation-main {
      ul {
        li {
          padding-left: 1rem;

          a {
            color: #fff;
          }
        }
      }

    }
  }
}