.kontakt-container {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;

    img {
        width: 50%;
        border: 2px solid $secondary-color;
        border-radius: 2px;
        margin-right: 2rem;
    }

    .kontakt-info-box {
        width: 50%;
        position: relative;
        border-top: 2px solid $secondary-color;
        border-bottom: 2px solid $secondary-color;
        padding: 0 2rem;

        .heading-container {
            position: absolute;
            top: -14px;
            left: 50%;
            transform: translate(-50%);
            padding: 0 20px;
            background-color: $body-background-color;
            z-index: 10;
        }

        h5 {
            font-size: 1.3rem;
            font-weight: lighter;
        }

        h3 {
            font-size: 2.5rem;
            margin: 2rem 0 1rem 0;
        }

        .heading-info-box-kontakt {
            font-size: 1.8rem;
            font-weight: bold;
        }

        p {
            margin: 1.5rem 0;
            line-height: 1.5;
            font-size: 1.3rem;
        }
    }
}

/* Kontakt form styling (for Contact Form 7) */
form {
    .contact-form-layout {
        display: flex;
        border-bottom: 2px solid $secondary-color;
        margin-bottom: 1rem;

        /* Input type / field (Ihr Name, Ihre Email, etc.) */
        input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required {
            width: 100%;
            border: none;
            padding-left: 1rem;
            font-size: 1rem;

            &:focus {
                border: none;
                outline: none;
            }
        }
        
        .form-width {
            width: 90%;
        }
    }

    textarea.wpcf7-form-control.wpcf7-textarea {
        width: 100%;
        border: 2px solid $secondary-color; 

        min-height: 200px;
        max-height: 600px;
        min-width: 100%;
        max-width: 100%;
        
        border-radius: 4px;

        font-size: 1.2rem;

        &:focus {
            outline: none;
        }
    }

    /* 'Senden' Button */
    input.wpcf7-form-control.wpcf7-submit {
        width: 100%;
        height: 3rem;
        background-color: $secondary-color;
        border-radius: 4px;
        border: none;

        /* input[value='Senden'] */
        &[value="Senden"] {
            color: #fff;
            font-size: 1.1rem;
        }

        &:focus {
            outline: none;
            border: none;
        }
    }
}

/* Message field, if message was successfull sent */
.wpcf7 form.sent .wpcf7-response-output {
    border-color: #46b450;
    border-radius: 4px;
    padding: 10px;
}

/* Message field, if error occured (not properly filled, etc.) */
.wpcf7 form.invalid .wpcf7-response-output, .wpcf7 form.unaccepted .wpcf7-response-output {
    border-color: #ffb900;
    border-radius: 4px;
    padding: 10px;
}

/* Success / error message container styling */
.wpcf7 form .wpcf7-response-output {
    margin: 0;
    padding: 0.2em 1em;
    border: 2px solid #00a0d2;
}

/* Error message in empty textfields (e.g. Ihre Email is empty) */
.wpcf7-not-valid-tip {
    color: #dc3232;
    font-size: 1em;
    font-weight: normal;
    display: block;
    position: absolute;
    bottom: 0;
    right: 5px;
}