/* position 'add to cart' in single-product.php below single product thumbnail */
.quantity {
  clear: both;
}

.read-more-btn {
  display: inline-block;
  margin: 2rem 0;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 4px 6px;
}

.wc-tabs {
  margin-top: 5rem !important;
  display: inline-block;
}

