/* Set margin bottom from top-product-container (slick-slider) to 'n'rem */
.top-products-container {
  margin-bottom: 5rem;
}

/* Set height from slide to wrapper / container height - 100% doesn't work! */
.slick-slide {
  height: inherit;
}

/* Locate prev button to the right side of slider */
.slick-prev {
  margin-top: 21px; /* Locate Button above each other */
}

/* Locate prev button to the right side of slider */
.slick-next {
  margin-top: -21px; /* Locate Button above each other */
}

/* Change appearance of next/prev button */
.slick-prev,
.slick-next {
  z-index: 100; /* Locate buttons in front of slider */
  background: $primary-color;
  height: 40px;
  width: 40px;
  left: 99%;
  top: 50%;
  transform: translate(0, -50%);
  opacity: 1;
  border-radius: 4px;
  transition: .5s all;
}

/* Don't change default behaviour on :hover, :focus*/
.slick-prev:hover,
.slick-next:hover,
.slick-prev:focus,
.slick-next:focus {
  z-index: 100;
  background: $primary-color;
  height: 40px;
  width: 40px;
  opacity: 1;
}

/* Chang background-color on hover */
.slick-prev:hover,
.slick-next:hover {
  background: $primary-color-darker;
}

/* Style arrow inside next/prev button */
.slick-next:before,
.slick-prev:before {
  font-size: 23px;
  color: #fff;
  opacity: 1;
}

/* Add 'less than' unicode symbol to button */
.slick-prev:before {
  font-family: "Font Awesome 5 Pro"; 
  content: '\f536';
}

/* Add 'greater than' unicode symbol to button */
.slick-next:before {
  font-family: "Font Awesome 5 Pro"; 
  content: '\f531';
}

/* If there are less than 5 thumbnails to display in slider, align the images / slides / thumbnails on the left */
.slick-track {
  margin: 0;
}