.about-us-top-container,
.about-us-middle-container,
.about-us-bottom-container {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}


.about-us-top-container,
.about-us-bottom-container {
    img {
        width: 50%;
        border: 2px solid $secondary-color;
        border-radius: 2px;
    }

    .about-us-top-info-box,
    .about-us-bottom-info-box {
        width: 50%;
        position: relative;
        border-top: 2px solid $secondary-color;
        border-bottom: 2px solid $secondary-color;
        padding: 0 2rem;

        .heading-container {
            position: absolute;
            top: -14px;
            left: 50%;
            transform: translate(-50%);
            padding: 0 20px;
            background-color: $body-background-color;
            z-index: 10;
        }

        h5 {
            font-size: 1.3rem;
            font-weight: lighter;
        }

        h3 {
            font-size: 2.5rem;
            margin: 2rem 0 1rem 0;
        }

        p {
            margin: 1.5rem 0;
            line-height: 1.5;
            font-size: 1.3rem;
        }
    }
}

.about-us-top-container {
    img {
        margin-right: 2rem;
    }
}

.about-us-bottom-container {
    img {
        margin-left: 2rem;
    }
}

.about-us-middle-container {
    position: relative;

    .overlay-container {
        position: relative;

        img {
            width: 100%;
            height: 100%;
            border-radius: 2px;
        }
    
        .image-overlay {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: rgba(0, 0, 0, .5);
            z-index: 10;
            border: 2px solid $secondary-color;
            border-radius: 2px;
        }
    }

    .about-us-middle-absolute-container {
        position: absolute;
        display: flex;
        justify-content: center;
        flex-direction: column;
        z-index: 20;

        .heading-middle-container {
            h5 {
                text-align: center;
                margin-top: 3rem;
                font-size: 1.3rem;
                font-weight: lighter;
                color: #fff;
            }

            h3 {
                text-align: center;
                font-size: 2.5rem;
                color: #fff;
            }
        }

        .container-paragraph {
            max-width: 50%;
            margin: 0 auto;

            p {
                margin: 1.5rem 0;
                line-height: 1.5;
                font-size: 1.3rem;
                color: #fff;
            }
        }
    }
}