/* Set variables */
$primary-color: #9A9697;
$primary-color-darker:  #6d6a6b;
$secondary-color:  #007a9e;
$body-background-color: #fff;

body {
  background-color: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', Arial, sans-serif;
}

.container {
  min-height: 100vh;
  max-width: 80%;
  margin: 0 auto;
}

.flex-container {
  display: flex;
}